$primary   : #c06384;
$secondary : #26759a;
$accent    : #2246c9;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
